* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.search {
  display: flex;
  justify-content: center;
  background: #eff2f6;
  gap: 1.2rem;
  /* margin-top: 0.6rem; */
  padding: 22px;
  width: 1400px;
  height: 130px;
}
h1 {
  color: #18214d;
  width: 198px;
  height: 34px;
  font-size: 28px;
}
.xans {
  /* position: relative; */
  width: 700px;
  border-radius: 0.2rem;
  padding: 8px;
  font-size: 20px;
  height: 4rem;
  background: #dfe4ea;
  padding-left: 60px;
}
.fa-search {
  position: absolute;
  left: 417px;
  bottom: 580px;
  /* font-size: 30px; */
  /* margin-left: 1rem; */

  /* Primary */

  /* background: #29335c; */
}
.xans {
  width: 666px;
  height: 48px;
  background: #dfe4ea;
  border-radius: 8px; 
}
.submit-btn {
  background: #f3663f;
  border-radius: 5px;
  padding: 9px;
  font-size: 15px;
  color: #ffffff;
}
.contents {
  font-size: 26px;
  color: #29335c;
  text-align: left;
  margin-top: 3.4rem;
}
p{
  font-size: 66px;
  color: #29335c;
  text-align: center;
  margin-top: 3.4rem;
}
.guzzler{
  color: #18214D;
  text-align: center;
  font-size: 20px;
}
.care{
  margin-left: 20.1rem;
  margin-top: 3rem;
}
